form {
  padding: 15px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  width: 50%;
  margin: 10px 0;
}

button {
  width: 50%;
  padding: 5px;
  margin-top: 15px;
  border-radius: 10%;
  border-style: none;
  cursor: pointer;
  color: #edeef1;
  background-color: #ef8354;
}

@media screen and (max-width: 900px) {
  form {
    align-items: center;
    margin-bottom: 5px;
  }

  .form-input {
    width: 60%;
  }

  button {
    width: 60%;
  }
}
