form {
  padding: 15px;

  display: flex;
  flex-direction: column;
}

input {
  width: 50%;
  margin: 10px 0;
}

button {
  width: 50%;
  padding: 5px;
  margin-top: 15px;
  border-radius: 10%;
  border-style: none;
  cursor: pointer;
  color: #edeef1;
  background-color: #ef8354;
}
